@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Regular.woff2") format("woff2"), url("../fonts/Larsseit-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Medium.woff2") format("woff2"), url("../fonts/Larsseit-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Larsseit;
  font-display: swap;
  src: url("../fonts/Larsseit-Bold.woff2") format("woff2"), url("../fonts/Larsseit-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  font-family: Larsseit;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html .lock,
body .lock {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

._container {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;
  padding: 0px 10px;
  height: 100%;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.035em;
  color: #62D0DF;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 27px 0px;
  z-index: 3;
}

.header__body.block-w::before {
  position: absolute;
  content: "";
  z-index: 3;
  width: 100%;
  height: 65px;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
}

.header__logo {
  position: relative;
  z-index: 15;
}

.header__logo a {
  color: inherit;
}

.header__popup {
  position: relative;
  z-index: 15;
  min-width: 150px;
  height: 50px;
  background: #62D0DF;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.header__popup:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.header__popup:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.menu__body.on {
  top: 0;
  overflow-x: auto;
}

.menu__list {
  position: relative;
  left: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list :not(:last-child) {
  margin: 0px 26px 0px 0px;
}

.menu__link {
  display: inline-block;
  font-size: 14px;
  color: #22356F;
  position: relative;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.menu__link::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  width: 0;
  height: 1px;
  background: #22356F;
  -webkit-box-shadow: inset 0px -1px 0px #22356F;
          box-shadow: inset 0px -1px 0px #22356F;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu__link:hover::before {
  left: -15%;
  width: 133%;
}

.menu__link.underline::before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -15%;
  width: 133%;
  height: 1px;
  background: #22356F;
  -webkit-box-shadow: inset 0px -1px 0px #22356F;
          box-shadow: inset 0px -1px 0px #22356F;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  background-color: #F5F5F5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block {
  overflow: hidden;
}

.thrivetalk {
  position: relative;
}

.thrivetalk__bg2 {
  background: #F4F9E2;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  right: 20%;
}

.thrivetalk__bg1 {
  position: absolute;
  z-index: 1;
  width: 700px;
  height: 480px;
  top: 0;
  right: -90px;
  background: #EDFDFF;
  border-radius: 312.159px;
  -webkit-transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
      -ms-transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
          transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
}

.thrivetalk__block-img {
  position: absolute;
  top: 0px;
  right: 0;
  height: 100%;
  width: 100%;
}

.thrivetalk__block-img img {
  position: absolute;
  z-index: 1;
  max-width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: right;
     object-position: right;
}

.thrivetalk__block-text {
  position: relative;
  z-index: 2;
}

.thrivetalk__block-btn {
  position: relative;
  z-index: 2;
}

.block-text__body {
  padding: 247px 0px 75px 0px;
  max-width: 470px;
}

.block-text__logo {
  margin-bottom: 38px;
}

.block-text__title {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -0.035em;
  color: #22356F;
  margin: 0px 0px 60px 0px;
}

.block-text__text {
  font-size: 24px;
  line-height: 190%;
  color: #22356F;
  margin: 0px 0px 48px 0px;
}

.block-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block-btn :not(:last-child) {
  margin: 0px 30px 0px 0px;
}

.block-btn__btn-who {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 150px;
  height: 50px;
  background: #F9B640;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.block-btn__btn-who:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.block-btn__btn-who:active {
  -webkit-transform: translateY(-1px);
      -ms-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.block-btn__btn-what {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  min-width: 150px;
  height: 50px;
}

.block-btn__btn-what::before {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background-color: #F9B640;
}

.block-btn__btn-what::after {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #F9B640;
}

.block-btn__btn-what:hover::before,
.block-btn__btn-what:hover::after {
  width: 100%;
}

.whythrive {
  background: #62D0DF;
}

.whythrive__block-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 45px 0px 45px 0px;
  text-align: center;
}

.whythrive__img img {
  max-width: 100%;
}

.block-text-whythrive__title {
  font-size: 36px;
  color: #FFFFFF;
  margin: 0px 0px 40px 0px;
}

.block-text-whythrive__text {
  font-size: 20px;
  line-height: 116%;
  color: #FFFFFF;
  line-height: 165%;
}

.block-text-whythrive__text span {
  line-height: 165%;
  font-size: 24px;
  font-weight: 700;
}

.aboutus {
  padding: 150px 0px 24px 0px;
}

.aboutus__title-container {
  max-width: 1250px;
  padding: 0px 10px;
  margin: 0 auto;
}

.aboutus__title {
  font-size: 16px;
  line-height: 144%;
  letter-spacing: 0.06em;
  color: #22356F;
  margin: 0px 0px 20px 0px;
}

.aboutus__block-text {
  padding: 0px 10px;
  text-align: center;
}

.block-text-aboutus__body {
  max-width: 592px;
  margin: 0 auto;
}

.block-text-aboutus__text {
  font-size: 24px;
  line-height: 152%;
  letter-spacing: 0.01em;
  color: #22356F;
}

.block-text-aboutus__subtitle {
  margin: 70px 0px 0px 0px;
  font-size: 16px;
  line-height: 119%;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}

.sport {
  padding: 0px 0px 120px 0px;
}

.sport__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sport__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  position: relative;
}

.sport__column img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.sport__column img:hover {
  opacity: 1;
}

.sport__block-box {
  min-width: 100%;
  height: 360px;
  padding: 70px 50px;
}

.block-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block-box_pink {
  background: #FFE2DE;
}

.block-box_green {
  background: #C4E769;
}

.block-box_turquoise {
  background: #62D0DF;
}

.block-box_blue {
  background: #0052C1;
}

.block-box_dark-blue {
  background: #22356F;
}

.block-box_dark-green {
  background: #76B58B;
}

.block-box_coral {
  background: #DEE1FF;
}

.block-box_violet {
  background: #8F00FF;
}

.block-box__line {
  width: 100%;
  margin: 0 auto;
  height: 1px;
  background-color: #fff;
  margin: 0px 0px 33px 0px;
}

.block-box__title {
  font-size: 32px;
  line-height: 114%;
  font-weight: 700;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  position: relative;
  padding: 0px 0px 0px 27px;
  max-width: 230px;
  word-wrap: break-word;
  overflow: hidden;
}

.block-box__title::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 2px;
  width: 9px;
  height: 9px;
  background-color: #E9B730;
  border-radius: 50%;
}

.block-box__title_big {
  padding: 0px 0px 0px 34px;
  line-height: 118%;
}

.block-box__title_big::before {
  top: 12px;
  left: 2px;
  width: 12px;
  height: 12px;
}

.health__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.health__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  position: relative;
}

.health__column img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0;
  -webkit-transition: all 0.8s ease 0.2s;
  -o-transition: all 0.8s ease 0.2s;
  transition: all 0.8s ease 0.2s;
}

.health__column img:hover {
  opacity: 1;
}

.health__block-box {
  min-width: 100%;
  height: 480px;
  padding: 97px 70px;
}

.plan {
  padding: 28px 0px 0px 0px;
}

.plan__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
  padding: 50px 77px 50px 105px;
}

.plan__title {
  font-size: 28px;
  line-height: 118%;
  letter-spacing: -0.03em;
  color: #22356F;
  margin: 0px 0px 30px 0px;
}

.plan__text {
  font-size: 16px;
  line-height: 160%;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.know {
  padding: 35px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.know__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.34%;
          flex: 0 0 33.34%;
  padding-bottom: 55.559%;
}

.know__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.know__block-text {
  padding: 105px 0px 60px 97px;
}

.block-text-know__body {
  max-width: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100%;
}

.block-text-know__title {
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #22356F;
}

.block-text-know__text {
  font-size: 36px;
  line-height: 160%;
  letter-spacing: -0.01em;
  font-weight: 700;
  color: #22356F;
  overflow: hidden;
  margin: 80px 0px 0px 0px;
}

.block-text-know__text span {
  color: #6CD3E1;
}

.block-text-know__link {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #FAB63E;
  margin: 40px 0px 0px 0px;
}

.block-text-know__link:hover {
  text-transform: uppercase;
}

.contactus {
  background: #22356F;
}

.contactus__block-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
}

.contactus__img {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  padding-bottom: 55.559%;
}

.contactus__img img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.block-text-contactus__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0px 50px 0px;
}

.block-text-contactus__title {
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  margin: 0px 0px 220px 0px;
}

.block-text-contactus__subtitle {
  font-size: 64px;
  line-height: 147%;
  letter-spacing: -0.01em;
  color: #FFFFFF;
  font-weight: 700;
  margin: 0px 0px 48px 0px;
}

.block-text-contactus__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 36px;
  line-height: 157%;
  letter-spacing: -0.005em;
  color: #FFFFFF;
}

.block-text-contactus__link {
  font-size: 16px;
  letter-spacing: 0.1em;
  color: #62D0DF;
  margin: 40px 0px 0px 0px;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.info__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.32%;
          flex: 0 0 30.32%;
}

.info__img img {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.info__block-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 100px 0px 0px 55px;
}

.block-text-info__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1150px;
  padding: 0px 10px;
  margin: 0 auto;
}

.block-text-info__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.block-text-info__title {
  max-width: 225px;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.006em;
  color: #22356F;
  text-transform: uppercase;
  margin: 0px 0px 50px 0px;
}

.block-text-info__text {
  max-width: 200px;
  font-size: 14px;
  line-height: 172%;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
  margin: 0px 10px 0px 0px;
}

.block-text-info__text a {
  display: block;
}

.block-text-info__text a:hover {
  text-decoration: underline;
}

.block-text-info__text a:not(:last-child) {
  color: inherit;
}

.block-text-info__text a:first-child {
  margin: 0px 0px 27px 0px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup.open .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background-color: #fff;
  color: black;
  max-width: 800px;
  padding: 30px;
  position: relative;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  opacity: 0;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #000;
  text-transform: uppercase;
}

.popup__block-text {
  text-align: center;
  margin: 0px 0px 20px 0px;
}

.popup__title {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: -0.006em;
  color: #22356F;
  text-transform: uppercase;
  margin: 0px 0px 50px 0px;
}

.popup__text {
  font-size: 18px;
  line-height: 172%;
  letter-spacing: -0.006em;
  color: #323744;
}

.popup__text a {
  display: block;
  color: inherit;
}

.popup__text a:first-child {
  margin: 0px 0px 50px 0px;
  text-transform: uppercase;
}

.popup__text a:hover {
  text-decoration: underline;
}

.popup__map iframe {
  width: 100%;
  height: 200px;
}

.footer {
  background: #62D0DF;
  height: 80px;
}

.footer__text {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__text p {
  font-size: 14px;
  letter-spacing: -0.006em;
  color: #FFFFFF;
  font-weight: 700;
}

@media (min-width: 520px) {
  .whythrive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .whythrive__block-text {
    text-align: start;
  }

  .whythrive__img {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 36%;
            flex: 0 0 36%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .whythrive__img img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -o-object-position: left;
       object-position: left;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

@media (min-width: 650px) {
  .contactus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .contactus__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 calc((100vw - 20px) * 0.33451 + 5px);
            flex: 0 0 calc((100vw - 20px) * 0.33451 + 5px);
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }

  .block-text-contactus__body {
    max-width: 700px;
    padding: 105px 150px 55px 0px;
  }
}

@media (min-width: 768px) {
  .aboutus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media (min-width: 810px) {
  .aboutus__title-body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .aboutus__block-text {
    text-align: left;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    -webkit-transform: translate(-100%, 0);
        -ms-transform: translate(-100%, 0);
            transform: translate(-100%, 0);
  }
}

@media (min-width: 1023px) {
  .block-text-whythrive__body {
    max-width: 49.12%;
  }
}

@media (min-width: 1024px) {
  .whythrive__block-text {
    padding: 160px 0px 78px 0px;
  }

  .block-text-whythrive__title {
    margin: 0px 0px 80px 0px;
  }
}

@media (max-width: 1200px) {
  .sport__block-box {
    height: 300px;
    padding: 40px 50px;
  }

  .plan__column {
    padding: 40px 50px 40px 70px;
  }
}

@media (max-width: 1023px) {
  .thrivetalk__bg1 {
    width: 400px;
    height: 300px;
    right: -50px;
  }

  .block-text__body {
    padding: 140px 0px 75px 0px;
  }

  .block-text__logo {
    margin-bottom: 25px;
  }

  .block-text__title {
    margin: 0px 0px 40px 0px;
    font-size: 46px;
  }

  .block-text__text {
    line-height: 170%;
  }

  .block-text-whythrive__body {
    max-width: 60%;
  }

  .aboutus {
    padding: 80px 0px 24px 0px;
  }

  .sport__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sport__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .health__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .health__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }

  .health__column:nth-child(3n+3) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .health__block-box {
    height: 360px;
    padding: 50px 55px;
  }

  .plan__column {
    padding: 20px 30px 20px 40px;
  }

  .know__block-text {
    padding: 50px 0px 50px 50px;
  }

  .block-text-contactus__title {
    margin: 0px 0px 60px 0px;
  }

  .info__block-text {
    margin: 80px 0px 0px 30px;
  }
}

@media (max-width: 767px) {
  .header__logo {
    margin: 0px 0px 0px 55px;
  }

  .header__popup {
    height: 38px;
    min-width: 128px;
  }

  .menu__body {
    position: absolute;
    padding: 10px;
    z-index: 2;
    top: -100vh;
    left: 0;
    background-color: #FFFFFF;
    width: 100%;
    height: 100vh;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 100px;
  }

  .menu__list :not(:last-child) {
    margin: 0px 0px 30px 0px;
  }

  .menu__link.underline::before {
    display: none;
  }

  .menu__link {
    font-size: 24px;
    color: #62D0DF;
  }

  .icon-menu {
    display: block;
    position: absolute;
    z-index: 51;
    top: 37px;
    left: 12px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s, ease 0s;
    -o-transition: all 0.3s, ease 0s;
    transition: all 0.3s, ease 0s;
    top: 8px;
    left: 0px;
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: #62D0DF;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu.active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 10px;
  }

  .icon-menu.active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 6px;
  }

  .thrivetalk__block-img img {
    opacity: 0.75;
  }

  .block-text__logo {
    display: none;
  }

  .block-text__title {
    margin: 0px 0px 40px 0px;
    font-size: 43px;
  }

  .block-text__text {
    font-size: 22px;
    margin: 0px 0px 40px 0px;
    color: #13296d;
  }

  .block-btn__btn-who {
    height: 46px;
  }

  .block-btn__btn-what {
    height: 46px;
  }

  .aboutus {
    padding: 40px 0px 24px 0px;
  }

  .aboutus__title {
    text-align: center;
  }

  .plan__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .plan__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    padding: 20px 30px;
    text-align: center;
  }

  .know__block-text {
    padding: 30px 0px 30px 30px;
  }

  .block-text-know__text {
    margin: 40px 0px 0px 0px;
    font-size: 34px;
    line-height: 155%;
  }

  .block-text-contactus__title {
    margin: 0px 0px 40px 0px;
  }

  .info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .info__img {
    display: none;
  }

  .info__block-text {
    margin: 30px 0px 0px 0px;
  }

  .block-text-info__body {
    text-align: center;
    padding: 0px 5px;
  }

  .block-text-info__title {
    margin: 0px auto 20px auto;
  }

  .block-text-info__text {
    margin: 0 auto;
  }
}

@media (max-width: 650px) {
  .know {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .know__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .know__block-text {
    padding: 30px 0px 30px 0px;
    text-align: center;
  }

  .contactus__block-text {
    text-align: center;
  }
}

@media (max-width: 620px) {
  .sport {
    padding: 0px 0px 60px 0px;
  }

  .sport__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .health__column {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 520px) {
  .block-text-whythrive__body {
    max-width: 100%;
  }
}

@media (max-width: 470px) {
  .block-text-info__container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .block-text-info__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    margin: 0px 0px 15px 0px;
  }

  .block-text-info__body:last-child {
    margin: 0;
  }

  .block-text-info__body:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .block-text-info__body:nth-child(2) {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .block-text-info__body:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media (max-width: 425px) {
  .block-text__body {
    padding: 90px 0px 30px 0px;
  }

  .block-text__title {
    text-align: center;
    margin: 0px 0px 20px 0px;
    font-size: 38px;
  }

  .block-text__text {
    text-align: center;
    font-size: 22px;
    margin: 0px 0px 20px 0px;
  }

  .block-btn__btn-who {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block-btn__btn-what {
    height: 46px;
  }

  .block-btn__btn-what {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }

  .block-btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .block-btn :not(:last-child) {
    margin: 5px 0px 0px 0px;
  }

  .block-text-aboutus__subtitle {
    margin: 30px 0px 0px 0px;
  }

  .block-text-know__text {
    font-size: 30px;
  }

  .block-text-contactus__body {
    padding: 30px 0px 30px 0px;
  }

  .block-text-contactus__subtitle {
    margin: 0px 0px 30px 0px;
    font-size: 48px;
  }

  .block-text-contactus__text {
    font-size: 32px;
    line-height: 147%;
  }
}